<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="items">
    <ion-card *ngFor="let item of items">
      <ion-item>
        <ion-card-header>
          <ion-img [src]="item.urls.full"></ion-img>
        </ion-card-header>
      </ion-item>
      <ion-item>
        <ion-card-content>
          <ion-card-title>
            <span *ngIf="item.user">{{ item.user.first_name }}</span>
          </ion-card-title>
        </ion-card-content>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
